# Build and Source Files
.vscode/**
src/**
out/test/**
test/**
**/*.map
**/*.ts

# Configuration and Tooling
tsconfig.json
eslint.config.mjs
.vscode-test.mjs
.gitignore
.vscodeignore

# Temporary and Output Files
release/**
*.vsix
tmp.py

# Documentation & Assets
assets/**
!assets/icon.png
PUBLISHING.md

__pycache__/
_tests/
.mypy_cache/
