/* media/styles.css */
body {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
#plot-container { flex-grow: 1; width: 100%; height: 100%; }
#status { 
    font-family: var(--vscode-editor-font-family);
    font-size: 12px;
    padding: 5px 10px;
    background: var(--vscode-editor-widget-background);
    border-bottom: 1px solid var(--vscode-widget-border);
    flex-shrink: 0; 
}
#helperCanvas { display: none; }